body {
    text-align: center;
}



.nav {
    margin-bottom: 20px;
    text-align: center;
}

.nav a {
    margin: 0 15px;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

.nav a.active {
    text-decoration: underline;
}

#tooltip {
    position: absolute;
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 5px 8px;
    font-size: 14px;
    border-radius: 5px;
    pointer-events: none;
    display: none;
}


.map-container {
    position: relative;
    display: inline-block;
}

.region {
    position: absolute;
    border: 2px solid transparent;
}

.region:hover {
    border: 2px solid yellow;
    background: rgba(255,255,0,0.2);
}

.skyrest {
    top: 405px;
    left: 325px;
    width: 150px;
    height: 55px;
}

.gorge {
    top: 545px;
    left: 325px;
    width: 150px;
    height: 55px;
}

.fen {
    top: 545px;
    left: 75px;
    width: 150px;
    height: 55px;
}

.perch {
    top: 405px;
    left: 75px;
    width: 150px;
    height: 55px;
}

.redcopse	 {
    top: 263px;
    left: 415px;
    width: 120px;
    height: 55px;
}

.sepulchre {
    top: 263px;
    left: 565px;
    width: 90px;
    height: 55px;
}

.calrathl {
    top: 530px;
    left: 580px;
    width: 92px;
    height: 68px;
}

.calrathu {
    top: 407px;
    left: 580px;
    width: 92px;
    height: 68px;
}

.skein {
    top: 440px;
    left: 772px;
    width: 150px;
    height: 55px;
}

.depths {
    top: 540px;
    left: 813px;
    width: 110px;
    height: 65px;
}

.castle {
    top: 267px;
    left: 772px;
    width: 150px;
    height: 80px;
}

.fief {
    top: 137px;
    left: 373px;
    width: 240px;
    height: 46px;
}

.manse	 {
    top: 253px;
    left: 75px;
    width: 125px;
    height: 78px;
}

.tower {
    top: 263px;
    left: 233px;
    width: 90px;
    height: 55px;
}

.abbey	 {
    top: 135px;
    left: 80px;
    width: 170px;
    height: 54px;
}

.empyrean	 {
    top: 74px;
    left: 82px;
    width: 166px;
    height: 32px;
}

.vestiges	 {
    top: 71px;
    left: 380px;
    width: 220px;
    height: 20px;
}

